*.iml
.gradle
gradlew
gradle
gradlew.bat
gradle.properties
settings.gradle
*.swp
build.gradle
local.properties
.idea
.DS_Store
build
captures
.externalNativeBuild
app/*.iml
app/build.gradle
app/libs
app/build.gradle
app/proguard-rules.pro
app/release/*

