# idea files
.idea
*.iml

# gradle
.gradle
gradlew
gradle
gradlew.bat

# app
build
app/*.iml
app/libs
app/proguard-rules.pro
app/release/*
app/release/output.json

# others
*.swp
local.properties
.DS_Store
captures
.externalNativeBuild

# crashlitycs
app/src/main/res/values/com_crashlytics_export_strings.xml
app/src/main/assets/crashlytics-build.properties

/signing
